<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/admin.css">
  <title>Panel de Admin</title>

</head>

<body>
  <div id="contenido">
    <h1>Panel de Administración</h1>
    <h2 class="subtitulo">Bienvenido, Administrador 👋</h2>
    <p class="descripcion">Desde aquí puedes controlar y mantener el buen funcionamiento del sistema. ¡Tu trabajo es
      clave para el éxito de todos!</p>

    <div class="admin-buttons">
      <button onclick="location.href='/admin/usuario'">Administrar Usuarios</button>
      <button onclick="location.href='/admin/clases'">Administrar Clases</button>
      <button onclick="location.href='/admin/promos'">Administrar Promociones</button>
      <button onclick="location.href='/admin/reservation'">Administrar Reservas</button>
      <button onclick="location.href='/admin/logout'">Cerrar Sesión</button>
    </div>

    <p class="motivacional">“Una buena administración no es cuestión de suerte, es cuestión de compromiso.”</p>

    <footer>
      &copy; 2025 Flippers Web • Todos los derechos reservados
    </footer>
  </div>
</body>

</html>