<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div th:replace="~{fragments/header :: cabecera}"></div>

    <h1>Mis Reservas</h1>

    <ul>
        <li th:each="reserva : ${reservas}">
            Usuario: <span th:text="${reserva.usuario.nombreUsuario}"></span> |
            Clase: <span th:text="${reserva.clase.titleClass}"></span> |
            Día: <span th:text="${reserva.dia}"></span> |
            Hora: <span th:text="${reserva.hora}"></span>
        </li>
    </ul>
</body>

</html>